.container {
  background-color: rgb(52, 61, 72);
  border-radius: 16px;
  padding: 16px 16px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formContainer {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 8px;
  height: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.deleteDialog{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
