html,
body {
  margin: 0;
  color: #fff;
  font-family: "iranyekan","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.8571428571428571rem;
  line-height: 1.5;
  background-color: #161B25;
}
